@font-face {
  font-family: "iconfont"; /* Project id 4889943 */
  src: url('iconfont.woff2?t=1764331747921') format('woff2'),
       url('iconfont.woff?t=1764331747921') format('woff'),
       url('iconfont.ttf?t=1764331747921') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuce:before {
  content: "\e6d6";
}

.icon-login:before {
  content: "\ea1a";
}

.icon-pen:before {
  content: "\e606";
}

.icon-sequelize:before {
  content: "\e69d";
}

.icon-copyright:before {
  content: "\e680";
}

.icon-rss:before {
  content: "\e605";
}

.icon-twitter:before {
  content: "\e60f";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-douyin:before {
  content: "\e8db";
}

.icon-bilibili:before {
  content: "\e849";
}

.icon-email:before {
  content: "\e856";
}

.icon-site:before {
  content: "\e643";
}

.icon-user:before {
  content: "\e685";
}

.icon-tag:before {
  content: "\e86e";
}

.icon-category:before {
  content: "\e64b";
}

.icon-timeline:before {
  content: "\e70f";
}

.icon-rocket:before {
  content: "\e853";
}

.icon-book:before {
  content: "\e602";
}

.icon-wechat:before {
  content: "\e611";
}

.icon-unknown:before {
  content: "\e64e";
}

.icon-linux:before {
  content: "\e80b";
}

.icon-sougou:before {
  content: "\e603";
}

.icon-opera:before {
  content: "\e704";
}

.icon-harmonyos:before {
  content: "\e742";
}

.icon-reply-fold:before {
  content: "\e659";
}

.icon-reply-expand:before {
  content: "\e629";
}

.icon-date:before {
  content: "\e637";
}

.icon-reply:before {
  content: "\e6bf";
}

.icon-qqbrowser:before {
  content: "\e600";
}

.icon-baidu:before {
  content: "\e60a";
}

.icon-chromium:before {
  content: "\e616";
}

.icon-bro360se:before {
  content: "\e601";
}

.icon-uc:before {
  content: "\e711";
}

.icon-region:before {
  content: "\e772";
}

.icon-safe:before {
  content: "\e769";
}

.icon-law:before {
  content: "\e80f";
}

.icon-guideline:before {
  content: "\e604";
}

.icon-delete:before {
  content: "\e810";
}

.icon-upload:before {
  content: "\e682";
}

.icon-save:before {
  content: "\e866";
}

.icon-key:before {
  content: "\e689";
}

.icon-avatar:before {
  content: "\e614";
}

.icon-password:before {
  content: "\e663";
}

.icon-user-editor:before {
  content: "\e649";
}

.icon-user-operation:before {
  content: "\e6f2";
}

.icon-emoji:before {
  content: "\e648";
}

.icon-expand:before {
  content: "\ef28";
}

.icon-theme:before {
  content: "\e647";
}

.icon-guidang:before {
  content: "\e60d";
}

.icon-mac:before {
  content: "\e667";
}

.icon-firefox:before {
  content: "\e72b";
}

.icon-safari:before {
  content: "\e873";
}

.icon-edge:before {
  content: "\e880";
}

.icon-pause:before {
  content: "\e8b8";
}

.icon-notice:before {
  content: "\e64a";
}

.icon-arrow-right:before {
  content: "\e840";
}

.icon-arrow-left:before {
  content: "\e841";
}

.icon-fullscreen:before {
  content: "\e794";
}

.icon-outscreen:before {
  content: "\e60c";
}

.icon-play:before {
  content: "\e66e";
}

.icon-grid-filled:before {
  content: "\e687";
}

.icon-close:before {
  content: "\e62d";
}

.icon-translate:before {
  content: "\e888";
}

.icon-label:before {
  content: "\e6a7";
}

.icon-file:before {
  content: "\ec17";
}

.icon-monitoring:before {
  content: "\e88e";
}

.icon-apple:before {
  content: "\e61e";
}

.icon-word:before {
  content: "\e6a3";
}

.icon-praise:before {
  content: "\e6c5";
}

.icon-qq:before {
  content: "\e609";
}

.icon-photo:before {
  content: "\e612";
}

.icon-view-filled:before {
  content: "\e6b4";
}

.icon-recommend:before {
  content: "\e728";
}

.icon-android:before {
  content: "\e9e0";
}

.icon-error:before {
  content: "\e7df";
}

.icon-star:before {
  content: "\e7e0";
}

.icon-fire:before {
  content: "\e842";
}

.icon-mail:before {
  content: "\e70a";
}

.icon-refresh:before {
  content: "\e71e";
}

.icon-view:before {
  content: "\e633";
}

.icon-view-off:before {
  content: "\e634";
}

.icon-message:before {
  content: "\e635";
}

.icon-message-unread:before {
  content: "\e636";
}

.icon-heart:before {
  content: "\e657";
}

.icon-heart-filled:before {
  content: "\e658";
}

.icon-recent:before {
  content: "\e646";
}

.icon-windows:before {
  content: "\ea06";
}

.icon-chrome:before {
  content: "\ea09";
}

.icon-Goal:before {
  content: "\ea62";
}

.icon-home:before {
  content: "\e60e";
}

.icon-link:before {
  content: "\e676";
}

.icon-Important:before {
  content: "\e690";
}

.icon-title:before {
  content: "\e661";
}

.icon-setting:before {
  content: "\e966";
}

.icon-github:before {
  content: "\e80c";
}

.icon-article-multiple:before {
  content: "\eade";
}

.icon-settings:before {
  content: "\e67f";
}

.icon-toggle-left:before {
  content: "\e683";
}

.icon-toggle-right:before {
  content: "\e684";
}

.icon-trash:before {
  content: "\e686";
}

.icon-search:before {
  content: "\e688";
}

.icon-chevron-down:before {
  content: "\e692";
}

.icon-chevron-left:before {
  content: "\e693";
}

.icon-chevron-right-double:before {
  content: "\e694";
}

.icon-chevron-right:before {
  content: "\e695";
}

.icon-chevron-left-double:before {
  content: "\e696";
}

.icon-chevron-up:before {
  content: "\e697";
}

.icon-grid:before {
  content: "\e6a8";
}

.icon-calendar:before {
  content: "\e6cb";
}

.icon-sun:before {
  content: "\e6d2";
}

.icon-moon-star:before {
  content: "\e6d1";
}

.icon-image:before {
  content: "\e6dd";
}

.icon-send:before {
  content: "\e6e5";
}

