@use './utils' as *;
@use 'sass:map';
@use 'sass:color';

/** ---------- 基础色 ---------- */
$base-colors: (
  blue: #1289f8,
  yellow: #ffa726,
  purple: #7b1fa2,
  red: #f44336,
  white: #ffffff,
  black: #363636,
  gray: #999999,
  bg-light: #f2f6ff,
  bg-light-gradient: #f9fbff,
  bg-dark: rgba(26, 26, 26),
);

/** ---------- 自动生成颜色变体 ---------- */
$colors: ();
@each $name, $color in $base-colors {
  $variant: generate-color-variant($color, $name);
  $colors: map.merge($colors, $variant);
}
@mixin generate-colors{
  :root {
    @each $key, $value in $colors {
      --#{$key}: #{$value};
    }
  }
}
@include generate-colors();


/** ---------- 主题色 ---------- */
// 使用body的类名控制主题变化
@mixin generate-theme($is-dark: false){
  $primary: if($is-dark, map.get($base-colors, yellow), map.get($base-colors, blue));
  $secondary: if($is-dark, map.get($base-colors, red), map.get($base-colors, purple));
  $text: if($is-dark, map.get($base-colors, white), map.get($base-colors, black));
  $bg: if($is-dark, map.get($base-colors, bg-dark), map.get($base-colors, bg-light));
  $bg-gradient: if($is-dark, map.get($base-colors, bg-dark), map.get($base-colors, bg-light-gradient));
  $neutral: map.get($base-colors, gray);

  // 主色系
  --primary-base: #{$primary};
  --primary-subtle: #{color.adjust($primary, $alpha: -0.2)};
  --primary-weak: #{color.adjust($primary, $alpha: -0.6)};
  --primary-ghost: #{color.adjust($primary, $alpha: -0.8)};
  --primary-transparent: #{color.adjust($primary, $alpha: -0.9)};

  // 辅助色系
  --secondary-base: #{$secondary};
  --secondary-subtle: #{color.adjust($secondary, $alpha: -0.2)};
  --secondary-weak: #{color.adjust($secondary, $alpha: -0.6)};
  --secondary-ghost: #{color.adjust($secondary, $alpha: -0.8)};
  --secondary-transparent: #{color.adjust($secondary, $alpha: -0.9)};

  // 文字色系
  --text-base: #{$text};
  --text-subtle: #{color.adjust($text, $alpha: -0.2)};
  --text-weak: #{color.adjust($text, $alpha: -0.6)};
  --text-ghost: #{color.adjust($text, $alpha: -0.8)};
  --text-transparent: #{color.adjust($text, $alpha: -0.9)};

  // 背景色系
  --bg-base: #{$bg};
  --bg-gradient: linear-gradient(180deg, #{$bg}, #{$bg-gradient});
  --bg-subtle: #{color.adjust($bg, $alpha: -0.2)};
  --bg-weak: #{color.adjust($bg, $alpha: -0.6)};
  --bg-ghost: #{color.adjust($bg, $alpha: -0.8)};
  --bg-transparent: #{color.adjust($bg, $alpha: -0.9)};

  // 中性色系
  --neutral-base: #{$neutral};
  --neutral-subtle: #{color.adjust($neutral, $alpha: -0.2)};
  --neutral-weak: #{color.adjust($neutral, $alpha: -0.6)};
  --neutral-ghost: #{color.adjust($neutral, $alpha: -0.8)};
  --neutral-transparent: #{color.adjust($neutral, $alpha: -0.9)};

}

// 引用主题
[data-theme="light"] {
  @include generate-theme(false);
}
[data-theme="dark"] {
  @include generate-theme(true);
}