@use './utils' as util;
@use './mixins' as *;
@use './colors' as *;
@use 'sass:color';
@use './animations' as *;
@use './colors' as *;

// 背景色变化
@mixin bg($color: var(--primary-base), $include-transition: false){
  @if($include-transition){
    @include transition(background-color);
  }
  &:hover {
    background-color: $color;
  }
  &:active {
    // 如果是 CSS 变量 → 使用透明度模拟变亮
    background-color: color-mix(in srgb, $color 80%, black);
  }
}

// 边框色变化
@mixin border($color: var(--primary-base), $include-transition: false){
  @if($include-transition){
    @include transition(border-color);
  }
  &:hover {
    border-color: $color;
  }
}

// 颜色变化
@mixin color($color: var(--primary-base), $include-transition: false){
  @if($include-transition){
    @include transition(color);
  }
  &:hover {
    color: $color;
  }
}

// 透明度变化
@mixin opacity($opacity: 0.1, $include-transition: false){
  @if($include-transition){
    @include transition(opacity);
  }
  &:hover {
    opacity: util.opacity($opacity);
  }
}

// hover 缩放
@mixin scale($ratio: 1.05, $include-transition: false) {
  @if $include-transition {
    @include transition(transform);
  }
  &:hover {
    transform: scale($ratio);
  }
  &:active {
    transform: scale(calc(#{$ratio} - 0.03));
  }
}

// 位移
@mixin move($x: 0, $y: -2px, $include-transition: false) {
  @if $include-transition {
    @include transition(transform);
  }
  &:hover {
    transform: translate($x, $y);
  }
}

// 旋转
@mixin rotate($deg: 90deg, $include-transition: false) {
  @if $include-transition {
    @include transition(transform);
  }
  &:hover {
    transform: rotate($deg);
  }
}

// 模糊
@mixin blur($px: 2px, $include-transition: false) {
  @if $include-transition {
    @include transition(filter);
  }
  &:hover {
    filter: blur($px);
  }
}