@use "sass:map";
@use "utils" as util;


@mixin gap($v){
  $process: util.process-space-values($v);
  gap: $process;
}

@mixin margin($v){
  $process: util.process-space-values($v);
  margin: $process;
}

@mixin padding($v){
  $process: util.process-space-values($v);
  padding: $process;
}

@mixin font-family($v){
  font-family: util.font-family($v);
}

@mixin font-size($v){
  font-size: util.font-size($v);
}

@mixin size($w, $h: $w){
  width: $w;
  height: $h;
}