@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:string";
@use "utils" as util;


@mixin gap($s){
  // 判断 $s 类型
  $values: if(
    meta.type-of($s) == 'string', 
    string.split($s, ' '), 
    if(
      meta.type-of($s) == 'list', 
      $s, 
      ($s,)
    )
  ); // 单个值包成列表
  $result: (); // 存储结果 


  @each $v in $values {
    @if(util.has-space($v)){
      $result: list.append($result, util.space($v));
    } @else {
      $result: list.append($result, $v);
    }
  }
  gap: $result;
}

@mixin margin($s){
  // 判断 $s 类型
  $values: if(
    meta.type-of($s) == 'string', 
    string.split($s, ' '), 
    if(
      meta.type-of($s) == 'list', 
      $s, 
      ($s,)
    )
  ); // 单个值包成列表
  $result: (); // 存储结果 

  @each $v in $values {
    @if(util.has-space($v)){
      $result: list.append($result, util.space($v));
    } @else {
      $result: list.append($result, $v);
    }
  }

  margin: $result;
}

@mixin padding($s){
  // 判断 $s 类型
  $values: if(
    meta.type-of($s) == 'string', 
    string.split($s, ' '), 
    if(
      meta.type-of($s) == 'list', 
      $s, 
      ($s,)
    )
  ); // 单个值包成列表
  $result: (); // 存储结果 

  @each $v in $values {
    @if(util.has-space($v)){
      $result: list.append($result, util.space($v));
    } @else {
      $result: list.append($result, $v);
    }
  }

  padding: $result;
}

