*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/** ---------- 全局样式 ---------- */
body {
  font-family: 'base';
  // font-size: font-size('lg');
  // color: var(--text);
  -webkit-tap-highlight-color: transparent;
}

/* 现代浏览器方案 */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Opera */
}

/* 兼容方案 */
body {
  margin-right: calc(-1 * (100vw - 100%));
}
html {
  overscroll-behavior: none;
}

:root {
  --text: #333;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

a {
  background-color: transparent;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  color: var(--text);
}

table {
  border-collapse: collapse;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  filter: brightness(var(--img-brightness));
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

p {
  color: inherit;
}

@for $i from 1 through 3 {
  h#{$i} {
    color: var(--text);
  }
}

input,
textarea {
  width: 100%;
  outline: none;
  background-color: transparent;
  border: none;

  &::placeholder {
    color: var(--text-light);
    opacity: 0.7;
  }
}