/** ---------- 容器间隔 ---------- */
$space: (
  title-height: 50px,
  title: 40px,
  xxl: 30px,
  xl: 25px,
  lg: 20px,
  md: 15px,
  sm: 10px,
  xs: 5px
);

/** ---------- 字体大小 ---------- */
$font-size: (
  title: 32px,
  xxl: 24px,
  xl: 20px,
  lg: 18px,
  md: 16px,
  sm: 14px,
  xs: 12px,
  xxs: 10px
);

/** ---------- 页面断点 ---------- */
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1536px
);

/** ---------- 字体 ---------- */
$font-family: (
  base: (
    url('../assets/fonts/base-jiangcheng.woff2') format('woff2'),
    url('../assets/fonts/base-jiangcheng.woff') format('woff'),
    url('../assets/fonts/base-jiangcheng.ttf') format('truetype'),
  ),
  title: (
    url('../assets/fonts/title-FZG.woff2') format('woff2'),
    url('../assets/fonts/title-FZG.woff') format('woff'),
    url('../assets/fonts/title-FZG.ttf') format('truetype'),
  )
);
/** ---------- 字体注册 ---------- */
// 循环遍历字体映射，动态生成 @font-face 规则
@each $font-name, $font-sources in $font-family {
  // $font-name 会是 'base', 'title'...
  // $font-sources 会是对应的 url 和 format 列表

  @font-face {
    // 定义一个字体族名称，建议使用一个统一的前缀，比如 'MyFont-'
    // 这样可以避免与系统字体或其他字体库冲突
    font-family: '#{$font-name}';
    
    // 使用 join() 函数将 $font-sources 列表用逗号连接成一个字符串
    // 这正是 CSS src 属性所需要的格式
    src:$font-sources;

    // 可选：定义字体的其他属性
    font-weight: normal;
    font-style: normal;
    font-display: swap; // 推荐使用，提升页面加载性能
  }
}


/** ---------- 圆角 ---------- */
$radius: (
  sm: 4px,
  md: 8px,
  lg: 12px,
  xl: 16px,
  xxl: 25px,
  full: 999px
);

/** ---------- z-index层级 ---------- */
$z-index: (
  auto: auto,
  base: 10,
  dropdown: 1000,
  sticky: 1020,
  fixed: 1030,
  modal-backdrop: 1040,
  modal: 1050,
  popover: 1060,
  tooltip: 1070,
  navbar: 1080
);
